<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action='/login' method="POST">
  <label for="username">Username:<input name="username" type="text" placeholder="user123" /></label>
  <label for="password">Password:<input name="password" type="password" placeholder="password"/></label>
  <button type="submit">Login</button>
</form>
